In [3]:
import pandas as pd
import numpy as np

In [10]:
# The path to our CSV file
file = "Resources/IMDb movies.csv"

# Read our Kickstarter data into pandas
movies_df = pd.read_csv(file, low_memory=False)
len(movies_df)

85855

In [11]:
# The path to our CSV file
file = "Resources/IMDb ratings.csv"

# Read our Kickstarter data into pandas
ratings_df = pd.read_csv(file)
len(ratings_df)

85855

In [14]:
merged_df = pd.merge(movies_df, ratings_df, on='imdb_title_id')
merged_df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [17]:
# Get only 
usa_df = merged_df[merged_df['country'] == 'USA']
len(usa_df)

28511

In [45]:
# Get only movies that were released past 2005
recent_df = usa_df[usa_df['year'].str.len() == 4]
recent_df = recent_df[recent_df['year'].astype(int) > 2006]
len(recent_df)

9886

In [41]:
recent_df['original_title'].value_counts()

Home                                             5
Alone                                            4
Shelter                                          4
Dreamland                                        4
Lucky                                            3
                                                ..
The Cokeville Miracle                            1
WHAT IF? A (Fan-Made) 'Life is Strange' Story    1
Easter Bunny, Kill! Kill!                        1
Angels Sing                                      1
Copycat                                          1
Name: original_title, Length: 10259, dtype: int64

In [42]:
test_df = recent_df[recent_df['original_title'] == 'Home']
test_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
50366,tt0822388,Home,Home,2008,2008-08-23,Drama,84,USA,NaN,Mary Haverstick,...,6.0,17.0,4.6,15.0,5.3,45.0,5.1,81.0,6.1,66.0
65518,tt2224026,Home - A casa,Home,2015,2015-03-26,"Animation, Adventure, Comedy",94,USA,"English, French",Tim Johnson,...,7.0,9184.0,6.9,1535.0,5.8,339.0,6.4,10263.0,6.5,36575.0
66984,tt2393825,Home,Home,2013,2013-11-22,Drama,112,USA,English,Jono Oliver,...,7.6,17.0,7.7,17.0,4.3,13.0,7.4,80.0,3.9,19.0
67750,tt2545384,Home,Home,2016,2016-03-01,"Drama, Horror, Thriller",87,USA,English,Frank Lin,...,3.8,48.0,4.4,46.0,3.7,27.0,4.0,144.0,3.4,82.0
67995,tt2597242,Oltre il male,Home,2014,2014-08-08,Horror,91,USA,English,Nicholas McCarthy,...,4.7,818.0,5.2,250.0,4.7,173.0,5.0,1493.0,4.6,2998.0

In [46]:
recent_df.to_csv('Sample/sample.csv')