In [57]:
import pandas as pd
import numpy as np

In [58]:
# The path to our CSV file
file = "Resources/IMDb movies.csv"

# Read our Kickstarter data into pandas
movies_df = pd.read_csv(file, low_memory=False)
len(movies_df)

85855

In [59]:
# The path to our CSV file
file = "Resources/IMDb ratings.csv"

# Read our Kickstarter data into pandas
ratings_df = pd.read_csv(file)
len(ratings_df)

85855

In [60]:
merged_df = pd.merge(movies_df, ratings_df, on='imdb_title_id')
len(merged_df)

85855

In [61]:
merged_df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics', 'weighted_average_vote',
       'total_votes', 'mean_vote', 'median_vote', 'votes_10', 'votes_9',
       'votes_8', 'votes_7', 'votes_6', 'votes_5', 'votes_4', 'votes_3',
       'votes_2', 'votes_1', 'allgenders_0age_avg_vote',
       'allgenders_0age_votes', 'allgenders_18age_avg_vote',
       'allgenders_18age_votes', 'allgenders_30age_avg_vote',
       'allgenders_30age_votes', 'allgenders_45age_avg_vote',
       'allgenders_45age_votes', 'males_allages_avg_vote',
       'males_allages_votes', 'males_0age_avg_vote', 'males_0age_votes',
       'males_18age_avg_vote', 'males_18age_votes', 'males_30age_avg_vote',
       'males_30age_votes', 'males_45age_avg_vote', 'males_45age_votes',
       'females_allages_avg_vote', 'females_allages_votes',
       'females_0age_avg_vote', 'females_0age_votes', 'females_18age_avg_vote',
       'females_18age_votes', 'females_30age_avg_vote', 'females_30age_votes',
       'females_45age_avg_vote', 'females_45age_votes',
       'top1000_voters_rating', 'top1000_voters_votes', 'us_voters_rating',
       'us_voters_votes', 'non_us_voters_rating', 'non_us_voters_votes'],
      dtype='object')

In [62]:
merged_df = merged_df[['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'actors', 'director', 'writer',
       'production_company', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics', 'weighted_average_vote',
       'total_votes', 'mean_vote', 'median_vote', 'males_allages_avg_vote',
       'males_allages_votes','females_allages_avg_vote','us_voters_rating',
       'us_voters_votes']]
merged_df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,actors,...,reviews_from_critics,weighted_average_vote,total_votes,mean_vote,median_vote,males_allages_avg_vote,males_allages_votes,females_allages_avg_vote,us_voters_rating,us_voters_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,"Blanche Bayliss, William Courtenay, Chauncey D...",...,2.0,5.9,154,5.9,6.0,6.2,97.0,6.0,6.4,51.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,"Elizabeth Tait, John Tait, Norman Campbell, Be...",...,7.0,6.1,589,6.3,6.0,6.1,425.0,6.2,6.0,96.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",...,2.0,5.8,188,6.0,6.0,5.9,146.0,5.7,6.2,31.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",...,3.0,5.2,446,5.3,5.0,5.1,299.0,5.9,5.5,207.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",...,14.0,7.0,2237,6.9,7.0,7.0,1607.0,7.2,7.0,488.0

In [63]:
# Get only 
usa_df = merged_df[merged_df['country'] == 'USA']
len(usa_df)

28511

In [64]:
# Get only movies that were released past 2005
recent_df = usa_df[usa_df['year'].str.len() == 4]
recent_df = recent_df[recent_df['year'].astype(int) > 2005]
len(recent_df)
recent_df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'actors', 'director',
       'writer', 'production_company', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics', 'weighted_average_vote',
       'total_votes', 'mean_vote', 'median_vote', 'males_allages_avg_vote',
       'males_allages_votes', 'females_allages_avg_vote', 'us_voters_rating',
       'us_voters_votes'],
      dtype='object')

In [65]:
# get rid of Reality TV
recent_df = recent_df[recent_df['genre'].str.contains('Reality-TV') == False]

# Fix budget string to number
recent_df['budget'] = recent_df['budget'].str.extract('(\d+)', expand=False)
recent_df['budget'] = recent_df['budget'].fillna(0)
recent_df['budget'] = recent_df['budget'].astype(int)

# Add actor, writer, director to be changed to numbers
recent_df['lead_actor'] = recent_df['actors'].str.split(',').str[0]
recent_df['lead_director'] = recent_df['director'].str.split(',').str[0]
recent_df['lead_writer'] = recent_df['writer'].str.split(',').str[0]
recent_df['lead_actor'] = recent_df['lead_actor'].fillna(0)
recent_df['lead_director'] = recent_df['lead_director'].fillna(0)
recent_df['lead_writer'] = recent_df['lead_writer'].fillna(0)

# fillna on production company to keep it
recent_df['production_company'] = recent_df['production_company'].fillna(0)

# add month
recent_df['month'] = recent_df['date_published'].str.split('-').str[1]
recent_df['month'] = recent_df['month'].fillna(0)


recent_df.dropna(axis=1, inplace=True)
len(recent_df)

10475

In [66]:
recent_df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'production_company', 'avg_vote',
       'votes', 'budget', 'weighted_average_vote', 'total_votes', 'mean_vote',
       'median_vote', 'females_allages_avg_vote', 'lead_actor',
       'lead_director', 'lead_writer', 'month'],
      dtype='object')

In [67]:
production_df = pd.DataFrame(recent_df['production_company'].value_counts()).reset_index().reset_index()
production_df.drop('production_company', axis=1, inplace=True)
production_df.rename(columns={"level_0": "production_number", "index": "production_company"}, inplace=True)
production_df.to_csv('people_codes/productions.csv')
production_df.head()

   production_number  production_company
0                  0                   0
1                  1   Columbia Pictures
2                  2        Warner Bros.
3                  3  Universal Pictures
4                  4          The Asylum

In [68]:
recent_df = pd.merge(recent_df, production_df, on="production_company")
recent_df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'production_company', 'avg_vote',
       'votes', 'budget', 'weighted_average_vote', 'total_votes', 'mean_vote',
       'median_vote', 'females_allages_avg_vote', 'lead_actor',
       'lead_director', 'lead_writer', 'month', 'production_number'],
      dtype='object')

In [69]:
actor_df = pd.DataFrame(recent_df['lead_actor'].value_counts()).reset_index().reset_index()
actor_df.drop('lead_actor', axis=1, inplace=True)
actor_df.rename(columns={"level_0": "actor_number", "index": "lead_actor"}, inplace=True)
actor_df.to_csv('people_codes/actors.csv')
actor_df.head()

   actor_number    lead_actor
0             0  Eric Roberts
1             1  Nicolas Cage
2             2  Adam Sandler
3             3   Danny Trejo
4             4  James Franco

In [70]:
recent_df = pd.merge(recent_df, actor_df, on="lead_actor")
recent_df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'production_company', 'avg_vote',
       'votes', 'budget', 'weighted_average_vote', 'total_votes', 'mean_vote',
       'median_vote', 'females_allages_avg_vote', 'lead_actor',
       'lead_director', 'lead_writer', 'month', 'production_number',
       'actor_number'],
      dtype='object')

In [71]:
director_df = pd.DataFrame(recent_df['lead_director'].value_counts()).reset_index().reset_index()
director_df.drop('lead_director', axis=1, inplace=True)
director_df.rename(columns={"level_0": "director_number", "index": "lead_director"}, inplace=True)
director_df.to_csv('people_codes/directors.csv')
director_df.head()

   director_number   lead_director
0                0               0
1                1     Tyler Perry
2                2  David DeCoteau
3                3      Rene Perez
4                4  Michael Feifer

In [72]:

recent_df = pd.merge(recent_df, director_df, on="lead_director")
recent_df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'production_company', 'avg_vote',
       'votes', 'budget', 'weighted_average_vote', 'total_votes', 'mean_vote',
       'median_vote', 'females_allages_avg_vote', 'lead_actor',
       'lead_director', 'lead_writer', 'month', 'production_number',
       'actor_number', 'director_number'],
      dtype='object')

In [73]:
writer_df = pd.DataFrame(recent_df['lead_writer'].value_counts()).reset_index().reset_index()
writer_df.drop('lead_writer', axis=1, inplace=True)
writer_df.rename(columns={"level_0": "writer_number", "index": "lead_writer"}, inplace=True)
writer_df.to_csv('people_codes/writers.csv')
writer_df.head()

   writer_number            lead_writer
0              0                      0
1              1            Tyler Perry
2              2           Jake Helgren
3              3         Rolfe Kanefsky
4              4  James Cullen Bressack

In [74]:

recent_df = pd.merge(recent_df, writer_df, on="lead_writer")
recent_df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'production_company', 'avg_vote',
       'votes', 'budget', 'weighted_average_vote', 'total_votes', 'mean_vote',
       'median_vote', 'females_allages_avg_vote', 'lead_actor',
       'lead_director', 'lead_writer', 'month', 'production_number',
       'actor_number', 'director_number', 'writer_number'],
      dtype='object')

In [75]:
recent_df['original_title'].value_counts()

Home                 5
Alone                4
Shelter              4
Dreamland            4
Paradox              3
                    ..
The Frozen Ground    1
Operation Terror     1
Trauma Center        1
Universal Signs      1
Stuber               1
Name: original_title, Length: 10258, dtype: int64

In [79]:
test_df = recent_df[recent_df['original_title'] == 'Home']
test_df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'production_company', 'avg_vote',
       'votes', 'budget', 'weighted_average_vote', 'total_votes', 'mean_vote',
       'median_vote', 'females_allages_avg_vote', 'lead_actor',
       'lead_director', 'lead_writer', 'month', 'production_number',
       'actor_number', 'director_number', 'writer_number'],
      dtype='object')

In [80]:
recent_df.to_csv('Sample/sample.csv')
numeric_df = recent_df[['year', 'duration', 'avg_vote', 'votes', 'budget', 'weighted_average_vote', 'total_votes', 'mean_vote', 'median_vote', 'month', 'production_number', 'actor_number', 'director_number', 'writer_number']]
numeric_df.head()

,year,duration,avg_vote,votes,budget,weighted_average_vote,total_votes,mean_vote,median_vote,month,production_number,actor_number,director_number,writer_number
0,2007,83,4.3,140,125000,4.3,140,5.5,5.0,10,0,1660,2953,6123
1,2007,98,5.3,387,0,5.3,387,5.9,6.0,10,0,1506,3344,2803
2,2014,89,3.8,208,700000,3.8,208,5.1,4.0,10,1460,1506,1937,4250
3,2008,83,5.4,731,0,5.4,731,6.3,7.0,05,0,3279,6643,3376
4,2007,116,6.4,269,1500000,6.4,269,6.6,7.0,08,0,4742,2075,0

In [82]:
numeric_df.to_csv('Sample/numeric.csv')