In [1]:
import pandas as pd
from sqlalchemy import create_engine
import connection_string

In [3]:
engine = create_engine(connection_string.connection_string)
con = engine.connect()

In [5]:
sample_df = pd.read_csv('Sample/sample.csv')
sample_df.drop('Unnamed: 0', axis=1, inplace=True)
sample_df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,avg_vote,votes,weighted_average_vote,...,votes_10,votes_9,votes_8,votes_7,votes_6,votes_5,votes_4,votes_3,votes_2,votes_1
0,tt2461462,Ngôi nhà trong hem,Ngôi nhà trong hem,2012,2012-02-14,Horror,93,5.9,158,5.9,...,23,44,10,9,17,18,12,6,4,15
1,tt0779722,Amnesia: The James Brighton Enigma,Amnesia: The James Brighton Enigma,2005,2005-09-26,Drama,90,6.2,613,6.2,...,40,38,97,142,132,80,30,22,13,19
2,tt0280015,Nadie te oye: Perfume de violetas,Nadie te oye: Perfume de violetas,2001,2001-03-11,Drama,90,7.1,1024,7.1,...,123,115,231,285,130,59,34,9,12,26
3,tt10674930,Abominable,Abominable,2020,2020-04-14,Horror,72,3.8,591,3.8,...,85,93,61,37,69,38,33,44,38,93
4,tt3186838,Fields of the Dead,Fields of the Dead,2014,2014-09-10,Horror,84,2.5,551,2.5,...,32,3,9,9,22,33,44,92,116,191

In [6]:
sample_df.to_sql('imdb_data', con, if_exists='replace')