In [13]:
import pandas as pd
import numpy as np

# The path to our CSV file
file = "Sample/sample.csv"

# Read our data into pandas
sample_df = pd.read_csv(file)
sample_df

,Unnamed: 0,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,0,tt0343135,...E alla fine arriva Polly,Along Came Polly,2004,2004-03-12,"Comedy, Romance",90,USA,"English, Spanish",...,5.8,15884.0,5.9,2657.0,5.6,518.0,5.9,26267.0,5.9,61434.0
1,1,tt2180411,Into the Woods,Into the Woods,2014,2015-04-02,"Adventure, Comedy, Drama",125,USA,English,...,6.0,16907.0,6.3,3674.0,5.5,490.0,6.3,21496.0,5.8,49608.0
2,2,tt2304933,La quinta onda,The 5th Wave,2016,2016-02-04,"Action, Adventure, Sci-Fi",112,"USA, UK",English,...,5.5,6609.0,5.7,1536.0,4.8,411.0,5.3,9497.0,5.1,40802.0
3,3,tt1430132,Wolverine - L'immortale,The Wolverine,2013,2013-07-25,"Action, Adventure, Sci-Fi",126,"USA, UK","English, Japanese",...,6.6,20757.0,6.9,4211.0,6.5,697.0,6.8,51630.0,6.6,179707.0
4,4,tt1915581,Magic Mike,Magic Mike,2012,2012-09-21,"Comedy, Drama",110,USA,English,...,6.0,22424.0,6.1,4530.0,5.4,474.0,6.1,22304.0,6.0,58312.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,tt2870708,Wish I Was Here,Wish I Was Here,2014,2014-07-25,"Comedy, Drama",106,USA,English,...,6.7,3705.0,6.8,772.0,5.9,262.0,6.7,5799.0,6.6,17649.0
9996,9996,tt1815862,After Earth,After Earth,2013,2013-06-06,"Action, Adventure, Sci-Fi",100,USA,English,...,5.3,10408.0,5.2,2808.0,4.2,564.0,4.6,22445.0,4.9,87238.0
9997,9997,tt0098084,Cimitero vivente,Pet Sematary,1989,1989-06-23,"Fantasy, Horror, Thriller",103,USA,English,...,6.8,8305.0,6.7,2406.0,6.1,587.0,6.6,22027.0,6.5,39117.0
9998,9998,tt1727824,Bohemian Rhapsody,Bohemian Rhapsody,2018,2018-11-29,"Biography, Drama, Music",134,"UK, USA","English, British Sign Language",...,8.3,29897.0,8.6,9605.0,7.2,609.0,7.8,45282.0,7.9,161478.0
9999,9999,tt1980929,Tutto può cambiare,Begin Again,2013,2014-10-16,"Comedy, Drama, Music",104,USA,English,...,7.4,15379.0,7.5,2907.0,6.5,397.0,7.4,14431.0,7.3,63880.0

In [14]:
# Get rid of duplicate movies using the imdb_title_id column
sample_nodupes_df = sample_df.drop_duplicates(subset=['imdb_title_id'], keep='last')
sample_nodupes_df

,Unnamed: 0,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
58,58,tt1119646,Una notte da leoni,The Hangover,2009,2009-06-19,Comedy,100,"USA, Germany",English,...,7.5,52164.0,7.3,7643.0,7.1,808.0,7.8,111578.0,7.7,336064.0
59,59,tt5690360,Slender Man,Slender Man,2018,2018-09-06,"Horror, Mystery, Thriller",93,USA,English,...,3.4,1605.0,3.7,367.0,3.1,235.0,3.2,3403.0,3.3,9872.0
61,61,tt0088117,Natale di sangue,"Silent Night, Deadly Night",1984,1984-11-09,"Horror, Thriller",79,USA,English,...,5.8,767.0,5.8,294.0,5.4,308.0,6.1,4526.0,5.7,4873.0
78,78,tt0162650,Shaft,Shaft,2000,2002-07-19,"Action, Crime, Thriller",99,"Germany, USA","English, German, Spanish",...,5.9,2681.0,6.0,1226.0,5.8,551.0,5.9,13303.0,5.9,36310.0
100,100,tt1220198,Il quarto tipo,The Fourth Kind,2009,2010-01-22,"Horror, Mystery, Sci-Fi",98,"USA, UK","English, Aboriginal",...,6.0,6217.0,5.8,1250.0,5.2,403.0,5.7,13825.0,6.0,39336.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,tt2870708,Wish I Was Here,Wish I Was Here,2014,2014-07-25,"Comedy, Drama",106,USA,English,...,6.7,3705.0,6.8,772.0,5.9,262.0,6.7,5799.0,6.6,17649.0
9996,9996,tt1815862,After Earth,After Earth,2013,2013-06-06,"Action, Adventure, Sci-Fi",100,USA,English,...,5.3,10408.0,5.2,2808.0,4.2,564.0,4.6,22445.0,4.9,87238.0
9997,9997,tt0098084,Cimitero vivente,Pet Sematary,1989,1989-06-23,"Fantasy, Horror, Thriller",103,USA,English,...,6.8,8305.0,6.7,2406.0,6.1,587.0,6.6,22027.0,6.5,39117.0
9998,9998,tt1727824,Bohemian Rhapsody,Bohemian Rhapsody,2018,2018-11-29,"Biography, Drama, Music",134,"UK, USA","English, British Sign Language",...,8.3,29897.0,8.6,9605.0,7.2,609.0,7.8,45282.0,7.9,161478.0
9999,9999,tt1980929,Tutto può cambiare,Begin Again,2013,2014-10-16,"Comedy, Drama, Music",104,USA,English,...,7.4,15379.0,7.5,2907.0,6.5,397.0,7.4,14431.0,7.3,63880.0

In [15]:
# Print value count of original titles to look further into duplicate movies
sample_nodupes_df['original_title'].value_counts()

Halloween             3
The Jungle Book       3
Fair Game             2
The Omen              2
Death at a Funeral    2
                     ..
I Am Legend           1
Basic Instinct 2      1
The Wolfman           1
Bound by Honor        1
Begin Again           1
Name: original_title, Length: 3785, dtype: int64

In [16]:
# Print test title from original_title column to ensure they are not duplicates
sample_nodupes_df.loc[sample_nodupes_df['original_title']=='The Jungle Book']

,Unnamed: 0,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
7626,7626,tt0110213,Mowgli - Il libro della giungla,The Jungle Book,1994,1995-10-20,"Adventure, Family, Romance",111,USA,English,...,6.5,1840.0,6.3,371.0,5.8,299.0,6.2,4732.0,5.9,6675.0
7830,7830,tt3040964,Il libro della giungla,The Jungle Book,2016,2016-04-14,"Adventure, Drama, Family",106,"UK, USA",English,...,7.4,15153.0,7.7,2890.0,7.1,581.0,7.5,29186.0,7.3,104694.0
8547,8547,tt0061852,Il libro della giungla,The Jungle Book,1967,1968-12-06,"Animation, Adventure, Family",78,USA,English,...,7.6,15983.0,7.9,2922.0,7.5,684.0,7.6,31370.0,7.6,71102.0

In [17]:
# Split up genres and stack them by original title
test_df = pd.DataFrame(sample_nodupes_df.genre.str.split(', ').tolist(), index=sample_nodupes_df.original_title).stack()
test_df

original_title
The Hangover                0      Comedy
Slender Man                 0      Horror
                            1     Mystery
                            2    Thriller
Silent Night, Deadly Night  0      Horror
                                   ...
Bohemian Rhapsody           1       Drama
                            2       Music
Begin Again                 0      Comedy
                            1       Drama
                            2       Music
Length: 9964, dtype: object

In [18]:
# Reset the index
test_df = test_df.reset_index([0,'original_title'])
test_df

                  original_title         0
0                   The Hangover    Comedy
1                    Slender Man    Horror
2                    Slender Man   Mystery
3                    Slender Man  Thriller
4     Silent Night, Deadly Night    Horror
...                          ...       ...
9959           Bohemian Rhapsody     Drama
9960           Bohemian Rhapsody     Music
9961                 Begin Again    Comedy
9962                 Begin Again     Drama
9963                 Begin Again     Music

[9964 rows x 2 columns]

In [19]:
# Get dummies for genre column
dummy = pd.get_dummies(test_df, columns=[0])
dummy

,original_title,0_Action,0_Adventure,0_Animation,0_Biography,0_Comedy,0_Crime,0_Drama,0_Family,0_Fantasy,...,0_Horror,0_Music,0_Musical,0_Mystery,0_Romance,0_Sci-Fi,0_Sport,0_Thriller,0_War,0_Western
0,The Hangover,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Slender Man,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,Slender Man,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,Slender Man,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,"Silent Night, Deadly Night",0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9959,Bohemian Rhapsody,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9960,Bohemian Rhapsody,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9961,Begin Again,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9962,Begin Again,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9963,Begin Again,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [20]:
# Groupby original title column and get max count of genres associated to each title
genre_df = dummy.groupby(['original_title']).max()
genre_df

,0_Action,0_Adventure,0_Animation,0_Biography,0_Comedy,0_Crime,0_Drama,0_Family,0_Fantasy,0_Film-Noir,...,0_Horror,0_Music,0_Musical,0_Mystery,0_Romance,0_Sci-Fi,0_Sport,0_Thriller,0_War,0_Western
original_title,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
*batteries not included,0,0,0,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
10 Cloverfield Lane,1,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
10 Things I Hate About You,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
"10,000 BC",1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xXx,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
xXx: Return of Xander Cage,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
xXx: State of the Union,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
¡Three Amigos!,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Æon Flux,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0