In [2]:
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [3]:
# The path to our CSV file
file = "Resources/IMDb movies.csv"

# Read our Kickstarter data into pandas
movies_df = pd.read_csv(file)
movies_df.head()

/Users/admin/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [20]:
# The path to our CSV file
file = "Resources/IMDb ratings.csv"

# Read our Kickstarter data into pandas
ratings_df = pd.read_csv(file)
ratings_df

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,5.3,398,5.5,6.0,13,9,26,65,104,...,5.7,11.0,5.0,2.0,5.5,12.0,6.3,22.0,5.3,214.0
85851,tt9911196,7.7,724,7.9,8.0,65,139,288,170,42,...,8.0,47.0,7.3,30.0,7.0,6.0,6.8,13.0,7.7,388.0
85852,tt9911774,7.9,265,7.8,8.0,63,29,61,61,31,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0
85853,tt9914286,6.4,194,9.4,10.0,176,0,2,2,1,...,NaN,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0
85854,tt9914942,6.7,102,6.8,7.0,4,4,21,35,27,...,6.8,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0

In [24]:
merged_df = pd.merge(movies_df, ratings_df, on='imdb_title_id')
merged_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,5.7,11.0,5.0,2.0,5.5,12.0,6.3,22.0,5.3,214.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,8.0,47.0,7.3,30.0,7.0,6.0,6.8,13.0,7.7,388.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,NaN,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,6.8,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0

In [32]:
merged_dropped_df = merged_df.dropna(axis=0)
merged_dropped_df = merged_dropped_df[merged_dropped_df['country'].str.contains('USA')]
merged_dropped_df = merged_dropped_df[merged_dropped_df['year'].astype(int) > 2000]
merged_dropped_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
4334,tt0035423,Kate & Leopold,Kate & Leopold,2001,2002-03-01,"Comedy, Fantasy, Romance",118,USA,"English, French",James Mangold,...,6.5,15654.0,6.7,3753.0,6.1,468.0,6.4,14831.0,6.3,38534.0
30350,tt0118589,Glitter,Glitter,2001,2001-11-30,"Drama, Music, Romance",104,USA,English,Vondie Curtis-Hall,...,2.8,3325.0,2.5,617.0,2.5,259.0,2.1,7166.0,2.2,8118.0
31237,tt0120667,I Fantastici 4,Fantastic Four,2005,2005-09-16,"Action, Adventure, Fantasy",106,"USA, Germany",English,Tim Story,...,5.8,19068.0,6.1,3869.0,5.7,746.0,5.6,56321.0,5.7,145571.0
31242,tt0120679,Frida,Frida,2002,2003-01-17,"Biography, Drama, Romance",123,"Mexico, USA, Canada","English, French, Russian",Julie Taymor,...,7.7,14176.0,7.6,3016.0,6.6,462.0,7.3,12533.0,7.3,40844.0
31244,tt0120681,La vera storia di Jack lo Squartatore,From Hell,2001,2001-12-21,"Horror, Mystery, Thriller",122,"USA, Czech Republic, UK",English,"Albert Hughes, Allen Hughes",...,6.9,15840.0,7.0,3213.0,6.6,658.0,6.7,24993.0,6.8,76500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85176,tt9134216,Non si scherza col fuoco,Playing with Fire,2019,2020-02-27,"Comedy, Family",96,USA,"English, Spanish",Andy Fickman,...,5.1,485.0,5.3,207.0,4.0,121.0,5.0,1476.0,4.8,2979.0
85221,tt9173418,The Boy - La maledizione di Brahms,Brahms: The Boy II,2020,2020-03-19,"Drama, Horror, Mystery",86,"USA, China, Canada, Australia",English,William Brent Bell,...,4.7,628.0,5.2,162.0,3.8,112.0,4.5,1128.0,4.6,3353.0
85266,tt9208444,Impractical Jokers: The Movie,Impractical Jokers: The Movie,2020,2020-02-28,Comedy,92,USA,English,Chris Henchy,...,6.7,131.0,6.0,51.0,4.7,62.0,6.2,1213.0,5.4,888.0
85397,tt9354944,Jexi,Jexi,2019,2019-10-11,"Comedy, Romance",84,"USA, Canada",English,"Jon Lucas, Scott Moore",...,5.9,835.0,6.2,230.0,5.1,130.0,6.0,1985.0,5.9,5945.0
85740,tt9779516,Cosa mi lasci di te,I Still Believe,2020,2020-03-19,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,6.6,513.0,7.4,202.0,4.8,63.0,6.8,1089.0,6.1,1679.0

In [64]:
len(merged_dropped_df['genre'].unique())

genres = []

for genre in merged_dropped_df['genre'].unique():
    values = genre.split(',')
    for value in values:
        if value in genres:
            break
        else:
            genres.append(value.replace(' ', ''))

for index, row in merged_dropped_df.iterrows():
    for genre in genres:
        if genre in row['genre']:
            merged_dropped_df[index, genre] = 1
        else:
            merged_dropped_df[index, genre] = 0

merged_dropped_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,"(85740, Action)","(85740, Adventure)","(85740, Biography)","(85740, Horror)","(85740, Mystery)","(85740, Thriller)","(85740, Animation)","(85740, Family)","(85740, Crime)","(85740, Sci-Fi)"
4334,tt0035423,Kate & Leopold,Kate & Leopold,2001,2002-03-01,"Comedy, Fantasy, Romance",118,USA,"English, French",James Mangold,...,0,0,1,0,0,0,0,0,0,0
30350,tt0118589,Glitter,Glitter,2001,2001-11-30,"Drama, Music, Romance",104,USA,English,Vondie Curtis-Hall,...,0,0,1,0,0,0,0,0,0,0
31237,tt0120667,I Fantastici 4,Fantastic Four,2005,2005-09-16,"Action, Adventure, Fantasy",106,"USA, Germany",English,Tim Story,...,0,0,1,0,0,0,0,0,0,0
31242,tt0120679,Frida,Frida,2002,2003-01-17,"Biography, Drama, Romance",123,"Mexico, USA, Canada","English, French, Russian",Julie Taymor,...,0,0,1,0,0,0,0,0,0,0
31244,tt0120681,La vera storia di Jack lo Squartatore,From Hell,2001,2001-12-21,"Horror, Mystery, Thriller",122,"USA, Czech Republic, UK",English,"Albert Hughes, Allen Hughes",...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85176,tt9134216,Non si scherza col fuoco,Playing with Fire,2019,2020-02-27,"Comedy, Family",96,USA,"English, Spanish",Andy Fickman,...,0,0,1,0,0,0,0,0,0,0
85221,tt9173418,The Boy - La maledizione di Brahms,Brahms: The Boy II,2020,2020-03-19,"Drama, Horror, Mystery",86,"USA, China, Canada, Australia",English,William Brent Bell,...,0,0,1,0,0,0,0,0,0,0
85266,tt9208444,Impractical Jokers: The Movie,Impractical Jokers: The Movie,2020,2020-02-28,Comedy,92,USA,English,Chris Henchy,...,0,0,1,0,0,0,0,0,0,0
85397,tt9354944,Jexi,Jexi,2019,2019-10-11,"Comedy, Romance",84,"USA, Canada",English,"Jon Lucas, Scott Moore",...,0,0,1,0,0,0,0,0,0,0
85740,tt9779516,Cosa mi lasci di te,I Still Believe,2020,2020-03-19,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,0,0,1,0,0,0,0,0,0,0

In [51]:
# Add gender columns

merged_dropped_df['genre'].unique()

array(['Comedy, Fantasy, Romance', 'Drama, Music, Romance',
       'Action, Adventure, Fantasy', 'Biography, Drama, Romance',
       'Horror, Mystery, Thriller', 'Action, Adventure, Drama',
       'Action, Horror, Sci-Fi', 'Action, Adventure, Comedy',
       'Animation, Drama, Family', 'Animation, Adventure, Comedy',
       'Action, Drama, Sport', 'Action, Adventure, Sci-Fi',
       'Animation, Adventure, Family', 'Comedy, Crime, Romance',
       'Crime, Drama, Thriller', 'Comedy, Romance',
       'Action, Drama, Thriller', 'Adventure, Drama, History',
       'Comedy, Drama', 'Drama', 'Drama, Thriller',
       'Animation, Comedy, Fantasy', 'Animation, Adventure, Drama',
       'Drama, Mystery, Thriller', 'Action, Fantasy, Horror',
       'Biography, Drama', 'Action, Comedy, Crime',
       'Animation, Action, Adventure', 'Action, Crime, Drama',
       'Comedy, Action, Sci-Fi', 'Drama, Sport', 'Action, Crime, Mystery',
       'Action, Sci-Fi', 'Crime, Thriller', 'Action, Adventure, Romance',
       'Drama, Romance, Thriller', 'Comedy, Fantasy, Sci-Fi',
       'Comedy, Drama, Music', 'Comedy', 'Biography, Comedy, Drama',
       'Drama, Music', 'Drama, Musical, Romance',
       'Adventure, Drama, Sci-Fi', 'Crime, Drama, Mystery',
       'Drama, Sci-Fi', 'Action, Drama, History', 'Drama, History, War',
       'Crime, Drama', 'Drama, Mystery, Romance', 'Comedy, Crime, Drama',
       'Horror, Thriller', 'Biography, Crime, Drama', 'Drama, Romance',
       'Comedy, Fantasy', 'Action, Crime, Thriller',
       'Comedy, Drama, Romance', 'Comedy, Drama, Thriller',
       'Action, Drama, Sci-Fi', 'Drama, Fantasy, Horror',
       'Action, Comedy, Family', 'Comedy, Family, Fantasy',
       'Action, Comedy', 'Adventure, Family, Fantasy', 'Action, Western',
       'Comedy, Romance, Drama', 'Action, Drama, War',
       'Adventure, Comedy, Drama', 'Action, Adventure, Thriller',
       'Drama, Mystery, Sci-Fi', 'Action, Sci-Fi, Sport',
       'Comedy, Family, Romance', 'Comedy, Crime, Mystery',
       'Biography, Drama, Sport', 'Comedy, Crime', 'Comedy, Sci-Fi',
       'Horror', 'Action, Comedy, Drama', 'Drama, Mystery',
       'Biography, Drama, Music', 'Thriller', 'Crime, Drama, Romance',
       'Comedy, Drama, Fantasy', 'Action, Adventure, Crime',
       'Comedy, Horror', 'Action, Mystery, Thriller',
       'Adventure, Comedy, Romance', 'Drama, Fantasy, Mystery',
       'Action, Fantasy, Thriller', 'Fantasy, Mystery, Romance',
       'Horror, Mystery', 'Crime, Mystery, Thriller',
       'Adventure, Comedy, Family', 'Animation, Comedy, Family',
       'Drama, Family, Sport', 'Comedy, Music',
       'Drama, History, Thriller', 'Action, Sci-Fi, Thriller',
       'Biography, Comedy, Crime', 'Mystery, Thriller',
       'Comedy, Family, Sci-Fi', 'Animation, Comedy, Musical',
       'Comedy, Family, Music', 'Action, Horror, Mystery',
       'Biography, Drama, History', 'Comedy, Drama, Mystery',
       'Comedy, Music, Romance', 'Fantasy, Horror, Mystery',
       'Drama, Family, Fantasy', 'Drama, Horror, Sci-Fi',
       'Animation, Comedy, Drama', 'Comedy, Drama, Family',
       'Action, Crime', 'Action, Comedy, Fantasy',
       'Drama, Sci-Fi, Thriller', 'Action, Comedy, Sci-Fi',
       'Action, Thriller', 'Crime, Horror, Thriller',
       'Romance, Comedy, Drama', 'Crime, Horror, Mystery',
       'Comedy, Crime, Musical', 'Drama, Romance, Sport',
       'Adventure, Drama, Mystery', 'Comedy, Drama, Horror',
       'Drama, Horror', 'Biography, Drama, Family',
       'Adventure, Drama, Romance', 'Action, Comedy, Thriller',
       'Action, Drama, Romance', 'Comedy, Family',
       'Action, Adventure, Biography', 'Action, Adventure, Horror',
       'Adventure, Drama, Fantasy', 'Comedy, Horror, Sci-Fi',
       'Comedy, Crime, Thriller', 'Action, Crime, Fantasy',
       'Action, Horror', 'Drama, History, Sport',
       'Comedy, Horror, Mystery', 'Drama, History',
       'Action, Drama, Fantasy', 'Drama, Romance, Sci-Fi',
       'Adventure, Comedy, Sport', 'Action, Mystery, Sci-Fi',
       'Comedy, Musical, Romance', 'Action, Biography, Drama',
       'Drama, Family, Romance', 'Drama, Horror, Mystery',
       'Comedy, Romance, Sport', 'Adventure, Drama, Family',
       'Adventure, Drama, War', 'Comedy, Crime, Family', 'Comedy, Sport',
       'Adventure, Comedy, Mystery', 'Adventure, Comedy',
       'Adventure, Fantasy', 'Action, Comedy, Romance',
       'Action, Adventure', 'Adventure, Crime, Drama',
       'Action, Adventure, Mystery', 'Adventure, Comedy, Sci-Fi',
       'Crime, Drama, Horror', 'Action, Adventure, Family',
       'Adventure, Drama, Horror', 'Animation, Action, Comedy',
       'Comedy, Family, Sport', 'Drama, Fantasy, Thriller',
       'Adventure, Comedy, Crime', 'Drama, History, Romance',
       'Comedy, Fantasy, Horror', 'Comedy, Crime, Sport',
       'Drama, Horror, Thriller', 'Animation, Crime, Drama',
       'Adventure, Sci-Fi, Thriller', 'Drama, Horror, Musical',
       'Action, Drama, Mystery', 'Crime, Drama, Music',
       'Drama, Fantasy, Romance', 'Action, Drama',
       'Horror, Sci-Fi, Thriller', 'Comedy, Horror, Thriller',
       'Drama, History, Music', 'Comedy, Drama, Sport',
       'Comedy, Drama, Musical', 'Sci-Fi, Thriller',
       'Drama, History, Horror', 'Crime, Drama, Fantasy',
       'Action, Horror, Thriller', 'Drama, Family',
       'Drama, Music, Musical', 'Animation, Comedy, Crime',
       'Drama, Fantasy, History', 'Action, Fantasy',
       'Adventure, Drama, Thriller', 'Action, Crime, Sci-Fi',
       'Comedy, Crime, Fantasy', 'Comedy, Romance, Sci-Fi',
       'Crime, Drama, History', 'Drama, Fantasy',
       'Adventure, Biography, Drama', 'Drama, Family, History',
       'Drama, Fantasy, Sport', 'Animation, Biography, Drama',
       'Drama, War', 'Action, Crime, Horror', 'Fantasy, Horror, Sci-Fi',
       'Drama, Thriller, War', 'Horror, Mystery, Sci-Fi',
       'Crime, Thriller, War', 'Action, Comedy, War',
       'Horror, Musical, Sci-Fi', 'Biography, Drama, Thriller',
       'Drama, Romance, War', 'Biography, Drama, Fantasy',
       'Action, Comedy, Music', 'Action, Drama, Family',
       'Adventure, Comedy, Fantasy', 'Action, Biography, Crime',
       'Adventure, Biography, Comedy', 'Action, Drama, Horror',
       'Comedy, War', 'Action', 'Fantasy, Horror, Thriller',
       'Drama, Musical', 'Drama, Fantasy, Music',
       'Romance, Sci-Fi, Thriller', 'Drama, Western',
       'Action, Fantasy, Sci-Fi', 'Adventure, Mystery, Sci-Fi',
       'Biography, Drama, Musical', 'Adventure, Biography, Crime',
       'Comedy, Horror, Romance', 'Animation, Drama',
       'Action, Comedy, Sport', 'Drama, History, Musical',
       'Action, Comedy, Horror', 'Animation, Drama, Sci-Fi',
       'Mystery, Romance, Thriller', 'Romance, Thriller',
       'Action, Drama, Western', 'Music', 'Comedy, Drama, History',
       'Adventure, Family, Sci-Fi', 'Drama, History, Mystery',
       'Adventure, Horror', 'Action, Adventure, Western',
       'Drama, Fantasy, Western', 'Comedy, Western', 'Comedy, Drama, War',
       'Comedy, Mystery, Sci-Fi', 'Family, Fantasy, Musical',
       'Biography, Drama, War', 'Comedy, Music, War',
       'Animation, Biography, Crime', 'Adventure, Horror, Mystery',
       'Action, Biography, Comedy', 'Adventure',
       'Horror, Music, Thriller', 'Adventure, Drama',
       'Drama, Horror, Romance', 'Crime, Drama, Western',
       'Biography, Drama, Western', 'Comedy, Fantasy, Music',
       'Horror, Sci-Fi'], dtype=object)

In [33]:
randomized_merged_dropped_df = merged_dropped_df.sample(n=10000, replace=True).reset_index(drop=True)
randomized_merged_dropped_df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0881320,Sanctum,Sanctum,2011,2011-02-11,"Action, Adventure, Drama",108,"USA, Australia",English,Alister Grierson,...,6.1,3799.0,6.0,849.0,5.3,355.0,5.8,6822.0,5.9,32066.0
1,tt1212436,"Piacere, sono un po' incinta",The Back-up Plan,2010,2010-05-14,"Comedy, Romance",104,USA,English,Alan Poul,...,5.5,11048.0,5.7,1554.0,4.4,307.0,5.2,7195.0,5.2,25146.0
2,tt0795493,Sogni e delitti,Cassandra's Dream,2007,2008-02-01,"Crime, Drama, Romance",108,"USA, UK, France",English,Woody Allen,...,6.6,5108.0,6.7,1392.0,6.1,370.0,6.6,6483.0,6.7,31919.0
3,tt0436331,Friends with Money,Friends with Money,2006,2006-09-08,"Comedy, Drama, Romance",88,USA,English,Nicole Holofcener,...,5.7,5523.0,6.0,1516.0,5.7,280.0,6.0,5533.0,5.7,13786.0
4,tt1134854,Survival of the Dead - L'isola dei sopravvissuti,Survival of the Dead,2009,2010-05-06,"Comedy, Drama, Horror",90,"USA, Canada",English,George A. Romero,...,4.8,971.0,5.2,314.0,5.0,321.0,5.0,4989.0,4.8,10645.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,tt0410297,La casa sul lago del tempo,The Lake House,2006,2006-06-23,"Drama, Fantasy, Romance",99,USA,English,Alejandro Agresti,...,6.9,27107.0,7.2,5793.0,6.2,503.0,6.5,22815.0,6.8,71277.0
9996,tt1032755,RocknRolla,RocknRolla,2008,2009-04-24,"Action, Crime, Thriller",114,"UK, USA, France","English, Russian",Guy Ritchie,...,7.4,13455.0,7.2,2282.0,6.3,563.0,7.2,27168.0,7.3,134410.0
9997,tt2274648,Hellboy,Hellboy,2019,2019-04-11,"Action, Adventure, Fantasy",120,"USA, UK, Bulgaria, Canada, Portugal, France","English, Spanish, Russian, German",Neil Marshall,...,5.3,2705.0,5.2,765.0,4.9,319.0,5.2,8595.0,5.2,30030.0
9998,tt0309530,Abbasso l'amore - Down with love,Down with Love,2003,2004-01-23,"Comedy, Romance",101,"USA, Germany",English,Peyton Reed,...,6.3,8463.0,6.5,1892.0,5.7,363.0,6.4,8576.0,6.2,19015.0
9999,tt1259521,Quella casa nel bosco,The Cabin in the Woods,2011,2012-05-18,Horror,95,USA,"English, Japanese",Drew Goddard,...,6.8,28059.0,7.0,4892.0,7.0,719.0,7.5,62514.0,6.8,164345.0

In [35]:
randomized_merged_dropped_df.to_csv('Sample/sample.csv')

In [36]:
# The path to our CSV file
file = "Sample/sample.csv"

# Read our Kickstarter data into pandas
sample_df = pd.read_csv(file)
sample_df.head()

,Unnamed: 0,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,0,tt0881320,Sanctum,Sanctum,2011,2011-02-11,"Action, Adventure, Drama",108,"USA, Australia",English,...,6.1,3799.0,6.0,849.0,5.3,355.0,5.8,6822.0,5.9,32066.0
1,1,tt1212436,"Piacere, sono un po' incinta",The Back-up Plan,2010,2010-05-14,"Comedy, Romance",104,USA,English,...,5.5,11048.0,5.7,1554.0,4.4,307.0,5.2,7195.0,5.2,25146.0
2,2,tt0795493,Sogni e delitti,Cassandra's Dream,2007,2008-02-01,"Crime, Drama, Romance",108,"USA, UK, France",English,...,6.6,5108.0,6.7,1392.0,6.1,370.0,6.6,6483.0,6.7,31919.0
3,3,tt0436331,Friends with Money,Friends with Money,2006,2006-09-08,"Comedy, Drama, Romance",88,USA,English,...,5.7,5523.0,6.0,1516.0,5.7,280.0,6.0,5533.0,5.7,13786.0
4,4,tt1134854,Survival of the Dead - L'isola dei sopravvissuti,Survival of the Dead,2009,2010-05-06,"Comedy, Drama, Horror",90,"USA, Canada",English,...,4.8,971.0,5.2,314.0,5.0,321.0,5.0,4989.0,4.8,10645.0

In [9]:
sample_df.columns

Index(['Unnamed: 0', 'imdb_title_id', 'title', 'original_title', 'year',
       'date_published', 'genre', 'duration', 'country', 'language',
       'director', 'writer', 'production_company', 'actors', 'description',
       'avg_vote', 'votes', 'budget', 'usa_gross_income',
       'worlwide_gross_income', 'metascore', 'reviews_from_users',
       'reviews_from_critics', 'weighted_average_vote', 'total_votes',
       'mean_vote', 'median_vote', 'votes_10', 'votes_9', 'votes_8', 'votes_7',
       'votes_6', 'votes_5', 'votes_4', 'votes_3', 'votes_2', 'votes_1',
       'allgenders_0age_avg_vote', 'allgenders_0age_votes',
       'allgenders_18age_avg_vote', 'allgenders_18age_votes',
       'allgenders_30age_avg_vote', 'allgenders_30age_votes',
       'allgenders_45age_avg_vote', 'allgenders_45age_votes',
       'males_allages_avg_vote', 'males_allages_votes', 'males_0age_avg_vote',
       'males_0age_votes', 'males_18age_avg_vote', 'males_18age_votes',
       'males_30age_avg_vote', 'males_30age_votes', 'males_45age_avg_vote',
       'males_45age_votes', 'females_allages_avg_vote',
       'females_allages_votes', 'females_0age_avg_vote', 'females_0age_votes',
       'females_18age_avg_vote', 'females_18age_votes',
       'females_30age_avg_vote', 'females_30age_votes',
       'females_45age_avg_vote', 'females_45age_votes',
       'top1000_voters_rating', 'top1000_voters_votes', 'us_voters_rating',
       'us_voters_votes', 'non_us_voters_rating', 'non_us_voters_votes'],
      dtype='object')

In [37]:
sample_df[['weighted_average_vote','mean_vote','avg_vote']].corr()

                       weighted_average_vote  mean_vote  avg_vote
weighted_average_vote               1.000000   0.980678  1.000000
mean_vote                           0.980678   1.000000  0.980678
avg_vote                            1.000000   0.980678  1.000000

In [38]:
y=sample_df['us_voters_rating']
X=sample_df[['year','duration','weighted_average_vote']]

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [40]:
# Scaling the X data by using StandardScaler()
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_train_scaled

array([[-1.53263096,  0.43205476,  0.76776872],
       [ 1.06132205, -0.67498316,  1.07293939],
       [ 0.69075733, -0.95174264, -0.04601974],
       ...,
       [-1.16206624, -0.56427937, -0.14774329],
       [ 1.06132205,  0.70881424, -0.14774329],
       [-0.42093681, -1.00709454,  0.25915093]])

In [41]:
# Transforming the test dataset based on the fit from the training dataset
X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[-0.60621917, -0.34287179,  0.66604516],
       [ 1.80245148,  0.43205476,  0.15742738],
       [-1.71791331,  0.21064718,  0.05570382],
       ...,
       [-0.0503721 , -0.28751989,  0.15742738],
       [ 1.43188676, -0.0661123 , -1.06325531],
       [-0.79150153, -0.34287179,  0.25915093]])

In [42]:
# Create the model

from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [43]:
# Fit the model to the training data. 

### BEGIN SOLUTION

model.fit(X_train, y_train)

LinearRegression()

In [44]:
from sklearn.metrics import mean_squared_error, r2_score

# Use our model to make predictions
predicted = model.predict(X_test)

# Score the predictions with mse and r2
mse = mean_squared_error(y_test, predicted)
r2 = r2_score(y_test, predicted)

print(f"mean squared error (MSE): {mse}")
print(f"R-squared (R2): {r2}")

mean squared error (MSE): 0.030954634986313623
R-squared (R2): 0.9717158144053943

In [45]:
model.score(X_test, y_test)

0.9717158144053943

In [46]:
predicted

array([7.02716409, 6.53311275, 6.37511228, ..., 6.5117443 , 5.27610324,
       6.60534567])

In [47]:
predictions=pd.DataFrame({'y':y_test, 'Predictions':predicted})
predictions

        y  Predictions
9953  7.2     7.027164
3850  6.8     6.533113
4962  6.4     6.375112
3886  7.5     7.220233
5437  4.5     4.438462
...   ...          ...
6955  7.9     7.734039
557   5.3     5.258410
2455  6.5     6.511744
3920  5.5     5.276103
6405  6.6     6.605346

[2500 rows x 2 columns]

In [21]:
predictions[predictions['Predictions']>5]

        y  Predictions
9953  5.6     5.823708
3850  6.6     6.421217
4962  6.4     6.350629
3886  4.9     5.252290
5437  6.1     6.215849
...   ...          ...
6955  6.7     6.556803
557   7.5     7.357732
2455  5.1     5.181250
3920  5.9     5.692337
6405  8.3     8.052652

[2293 rows x 2 columns]

In [48]:
clf = RandomForestRegressor(random_state=1, n_estimators=500).fit(X_train, y_train)
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

Training Score: 0.9984620509408225
Testing Score: 0.9943246359490261

In [49]:
new_predicted = clf.predict(X_test)
new_predicted

array([7.1988    , 6.7938    , 6.39794886, ..., 6.51552072, 5.3832    ,
       6.605     ])

In [50]:
lr_mse = mean_squared_error(y_test, predicted)
rf_mse = mean_squared_error(y_test, new_predicted)
print(f"linear regression mean squared error (MSE): {lr_mse}")
print(f"random forest mean squared error (MSE): {rf_mse}")

linear regression mean squared error (MSE): 0.030954634986313623
random forest mean squared error (MSE): 0.006211203148301017